
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.claude
pihka/app/database/*.db
!pihka/app/database/sample.db

pihka/app/database/*.sqlite
pihka/app/database/*.pmtiles
pihka/app/assets/*
!pihka/app/assets/.gitkeep
.DS_Store
*.log

